.container {
    width: 1160px;
    margin: 0px;
    background-color: #1F2937;
    padding: 150px;
    display: flex;
  }
  .card {
    width: 400px;
    height: 300px;
    background-color: #1F2937;
    margin-right: auto;
    color: #fff;
    font-size: 30px;
    border: 0px;
    padding: 0px;
  }
  .container-2 {
    width: 1160px;
    margin: 0 px;
    background-color: peachpuff;
    padding: 150px;
    display: flex;
    
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color:lightyellow;
    margin-right: auto;
    font-size: 30px;
    border-radius: 30px;
    padding: 0px;
    display: flex;
    border: 2px solid;

  }
  .container-3 {
    width: 1160px;
    margin: 0 px;
    background-color: #e5e7eb;
    padding: 150px;
  }
  .container-4 {
    width: 1160px;
    height: 200px;
    margin: 0 px;
    background-color: peachpuff;
    padding: 150px;
  }
  .rettangolo {
    width: 1080px;
    height: 200px;
    background-color: blue;
    border-radius: 30px;
    text-align: center; 
    line-height: 200px;
    color: #fff;
  }
  
  




 